/* sets de html y grid principal del body */
*
{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body
{
    margin: 0;
    background-image:url('https://i.postimg.cc/k5RZ8PDL/fondo-landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

/* icono del burguer button */
@font-face 
{
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?n9yn1h');
    src:  url('../fonts/icomoon.eot?n9yn1h#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?n9yn1h') format('truetype'),
      url('../fonts/icomoon.woff?n9yn1h') format('woff'),
      url('../fonts/icomoon.svg?n9yn1h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}  
[class^="icon-"], [class*=" icon-"]
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before 
{
    content: "\e9ba";
}
.burger-button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(9, 26, 43, .47);
    display: block;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;
    position: fixed;
    top: 22px;
    left: 10px;
    z-index: 4;
    display: none;
}

/* presets para el elemento contenedor */
.container
{
    max-width: 100vw;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit; 
}

/* ajustes para el contacto flotante de WP y Fb  */
.float-contact
{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
}
.float-contact-wp
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    border-radius: 0.3125rem 0.3125rem 0 0;
    text-decoration: none;
}
.float-contact-wp:hover
{
    background: rgba(13,170,72, 1);
    cursor: pointer;
}
.float-info
{
    color: white;
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.33rem;
    margin-right: 0.8125rem;
}
.float-icon-wp
{
    margin: 0.5rem 0.8125rem;
}
.float-contact-msn
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0078FF;
    border-radius: 0 0 0.3125rem 0.3125rem;
    text-decoration: none;
}
.float-contact-msn:hover
{
    background: rgba(6,90,184, 1);
    cursor: pointer;
}
.float-icon-msn
{
    margin: 0.5rem 0.8125rem;
}


/* propiedades de todo el header */
header
{
    display: block;
    max-width: 100vw;
    margin: 0;
    height: auto;
    position: relative;
    justify-content: space-evenly;
}

/* primera barra del header */
.header-superior
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding: 0.3125rem 0;
    background: rgba(9,26,43,1);
    background: -moz-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9,26,43,1)), color-stop(100%, rgba(41,89,138,1)));
    background: -webkit-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -o-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -ms-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: linear-gradient(to right, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091a2b', endColorstr='#29598a', GradientType=1 );
    font-family: 'IBM Plex Sans',sans-serif;
}

.logo-head-container-sup {
    display: none;
}
.header-icon
{
    width: 1.5rem;
    margin: 0 0.625rem;
    vertical-align: top;
}

.header-exchange
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-exchange p span
{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}
.header-exchange p span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 700;
    background: #29598A;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 0.125rem 0.3125rem;
}

.header-phone
{
    display: flex;
    align-items: center;
    justify-items: center;
}
.header-phone a
{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.header-phone a:hover
{
    cursor: pointer;
    color: #006AFF;
}

.header-email
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-email a
{
    cursor: pointer;
    text-decoration: none;
}
.header-email a span
{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}
.header-email a span:hover
{
    cursor: pointer;
    color: #006AFF;
}
.social-media-header
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-icon
{
    margin: 0 0.625rem;
}  


/* barra principal del header */
.header-principal
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    padding: 0.625rem;
    background-image:url('https://i.postimg.cc/Jz2vGz7b/fondo-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.18rem 0 rgba(9,26,43, 0.47);
}

.logo-principal
{
    width: 15.625rem;
    height: inherit;
}
/* Secciones del menu */
.sections-nav
{
    display: flex;
    height: inherit;
    align-items: center;
    max-width: 50%;
    justify-content: space-between;
    padding: 0.3125rem;
}
.social-des {
    display: none;
}
.tc-des {
    display:none;
}
.sections-nav ol
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,minmax(1fr,40px));
    height: inherit;
    width: inherit;
}
.sections-nav ol li
{
    display: flex;
    height: inherit;
    justify-content: center;
}
.nav-item
{
    text-decoration: none;
    display: block;
    height: inherit;
    align-items: center;
    padding: 0 0.4rem;
    font-family: 'Noto Sans SC';
    font-size: 1.5rem;
    font-weight: 500;
    color: #091A2B;
}
.nav-item:hover
{
    color: #006AFF;
}

.sections-nav hr
{
    width: 100%;
    border-radius: 2px;
    border: 2px solid  #29598A;  
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* barra de busqueda */
.search-container 
{
    width: 21.875rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container form
{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "search button";
    width: 100%;
    height: 2.1875rem;
}
.search-container input
{
    grid-area: search;
    width:100%;
    margin: 0;
    padding-left: 0.4375rem;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-size: 0.75rem;
    border-left: 2px solid #091A2B;
    border-top: 2px solid #091A2B;
    border-bottom: 2px solid #091A2B;
    border-radius: 0.3125rem 0px 0px 0.3125rem;
}
.search-container button
{
    grid-area: button;
    display: flex;
    align-content: center;
    justify-content: center;
    width:auto;
    background: #29598A;
    cursor: pointer;
    border: none;
    border:1.5px solid #091A2B;
    border-radius: 0px 0.3125rem 0.3125rem 0px;
}
.search-container button:hover
{
    background:#006AFF;
}
.search-container button img
{
    align-self: center;
}


/* hero */
.hero
{
    display: block;
    max-width: 100vw;
    margin: 0;
    height: 38rem;
    position: relative;
    background-image: url('https://i.postimg.cc/fLWzs6cs/hero-v1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ref-hero-overlay
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    text-align: center;
    max-width: 100%;
    border-radius: 5px;
}
.ref-hero-overlay p:nth-of-type(1)
{
    color: white;
    font-family: 'Noto Sans SC';
    font-size: 3rem;
    font-weight: 500;
}
.ref-hero-overlay p strong
{
    color:#008abd;  
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ref-hero-overlay p:nth-of-type(2)
{
    display: block;
    color: #006AFF;
    padding-top: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}
.emphasis-hero
{
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;

}
.ref-hero-overlay p:nth-of-type(3)
{
    color: white;
    padding-top: 1rem;
    font-family: inherit;
    text-align: center;
    font-size: 1rem;
}

/* flotantes del incio */
.float
{
    position: absolute;
    bottom: -7rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: 40px 230px 40px;
    grid-template-areas: "float1 . float3"
                         "float1 float2 float3"
                         ". float2 ." ;
    height: auto;
    padding: 0 2.5rem;
    column-gap: 2rem;
}
.float1-container
{
    grid-area: float1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.625rem;
    color: #091A2B;
    background: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    height: inherit;
}
.float1-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 2rem;
    font-weight: 700;
    color: #29598A;
}
.float1-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.625rem 0;
}
.float-container img
{
    width: 100%;
}
.button-float
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width:6.75rem;
    height:2rem;
    color: white;
    background: #29598A;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-top: 0.625rem;
    padding: 0 0.3125rem;
}
.button-float:hover
{
    background: #006AFF;
}

.button-float span
{
    font-weight: 600;
}
.float2-container
{
    grid-area: float2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    color: #091A2B;
    background: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.float2-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 2rem;
    font-weight: 700;
    color: #29598A;
}
.float2-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.625rem 0;
}
.float2-container img
{
    width: 100%;
}
.float3-container
{
    grid-area: float3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    color: #091A2B;
    background: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.float3-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 2rem;
    font-weight: 700;
    color: #29598A;
}
.float3-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.625rem 0;
}
.float3-container figure
{
    width: 3.75rem;
}
.float3-container img
{
    width: 100%;
}

/* seccion de productos */
.productos
{
    display:block;
    height: auto;
    padding: 0 2.5rem;
    margin-top: 8.125rem;
}

.productos h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    color: #006AFF;
    text-align: center;
}
.productos hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 0.125rem;
    margin-bottom: 1rem;
}
.productos-container
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.float-bombeo
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/Bvv8htm5/bombeo.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.bombeo-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bombeo-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/mkdggcf1/bombeo-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.bombeo-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.bombeo-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.bombeo-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.bombeo-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.bombeo-overlay a p strong
{
    font-style: italic;
}
.float-bombeo:hover .bombeo-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-motores
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/ZnNvrgV1/motores-reductores.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.motores-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motores-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/vZCDn61W/motores-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.motores-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.motores-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.motores-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.motores-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.motores-overlay a p strong
{
    font-style: italic;
}
.float-motores:hover .motores-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-presion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/sgsGhTSN/presion-constante.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.presion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/QNStbz9N/presion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.presion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.presion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.presion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.presion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.presion-overlay a p strong
{
    font-style: italic;
}
.float-presion:hover .presion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-electricidad
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/t4kZtFNC/electricidad.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.electricidad-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.electricidad-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/KYLjDvLC/electricidad-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.electricidad-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.electricidad-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.electricidad-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.electricidad-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.electricidad-overlay a p strong
{
    font-style: italic;
}

.float-electricidad:hover .electricidad-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-control
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/pXNF2Wdx/control.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.control-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/50StD7s3/control-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.control-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.control-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.control-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.3125rem;
}
.control-overlay a p
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
    font-style: italic;
}
.control-overlay a p strong
{
    font-size: 1rem;
}
.float-control:hover .control-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-medicion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/v8xnFgb3/medicion-agricola.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.medicion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medicion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/Wzp4VGKP/medicion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.medicion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}

.medicion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.medicion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.medicion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.medicion-overlay a p strong
{
    font-style: italic;
}

.float-medicion:hover .medicion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-proteccion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/65dGqk7Z/proteccion.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.proteccion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proteccion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/JnLn6V50/proteccion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.proteccion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}

.proteccion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.proteccion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.proteccion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.proteccion-overlay a p strong
{
    font-style: italic;
}

.float-proteccion:hover .proteccion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-refac
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 22rem;
    height: 14.4375rem;
    background-image:url('https://i.postimg.cc/rpYD7cHB/refacciones.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.refac-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refac-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/L5yjF6xN/refacciones-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    border-radius: 0.3125rem;
}
.refac-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
}
.refac-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
    text-align: center;
}
.refac-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
    text-align: center;
}
.refac-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.refac-overlay a p strong
{
    font-style: italic;
}

.float-refac:hover .refac-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image
{
    margin: 0;
    max-width: 22rem;
    height: auto;
}
.product-image img
{
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.overlay
{
    display: flex;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}
.overlay p
{
    text-align: center;
}

.categorias-name
{
    font-family: 'Noto Sans JP';
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

/* seccion de promociones */
.promo
{
    display:block;
    height: auto;
    padding: 0 2.5rem;
    margin-top: 5rem;
}
.promo h1
{
    font-family: 'Noto Sans JP';
    font-size: 2.5rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.promo hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 1rem;
}
.promo-container
{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.postimg.cc/fLHwRBC9/hero-v3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 607px;
}
.promo-ref
{
    cursor: pointer;
}
.ref-promo-overlay
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    max-width: 100%;
    border-radius: 0.3125rem;
}
.ref-promo-overlay p:nth-of-type(1)
{

    color: white;
    font-family: 'Noto Sans SC';
    font-size: 2.5rem;
    font-weight: 500;
    padding: 5rem 2.5rem 1.25rem 2rem;
}
.ref-promo-overlay p strong
{
    color:#006AFF;
    font-size: 8rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Cambria', Times, serif;
}
.ref-promo-overlay p:nth-of-type(2)
{
    display: block;
    font-weight: 800;
    color: white;
    text-align: left;
    font-size: 2rem;
    padding: 1rem 2.5rem 1.25rem 2rem;
}
.emphasis-promo
{
    color:white;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.ref-promo-overlay p:nth-of-type(3)
{
    text-align: right;
    font-size: 1rem;
    padding: 0 2.5rem 1rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* seccion de info de la  compañia */
.company
{
    display:block;
    height: auto;
    padding: 0 2.5rem;
    margin-top: 5rem;
}
.company h1
{
    font-family: 'Noto Sans JP';
    font-weight: 600;
    font-size: 3rem;
    color: #091A2B;
    text-align: center;
    margin-bottom: 1rem;
}
.company-des-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.company-image
{
    object-fit: cover;
    margin: 0 2rem 2rem 2rem;
}
.company-des-container span
{
    max-width: 50%;
    padding: 2.5rem 1.25rem;
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 1.33rem;
    line-height: 3rem;
    color: white;
    background-color: #29598A;
    height: 100%;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
}
.description-container
{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.description-container p
{
    margin: 1.25rem;
    text-align: center;
}
.description-container span
{
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 1.33rem;
    color: white;
}



/*seccion de marcas */
.marcas
{
    display:block;
    height: auto;
    padding: 0 2.5rem;
    margin-top: 5rem;
}
.marcas h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.5rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.marcas hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 1rem;
}
.marcas-container 
{
    display: grid;
    grid-template-rows: repeat(4,minmax(200px,1fr));
    grid-template-columns: repeat(4,minmax(200px,1fr));
    background: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    align-items: center;
    justify-items: center;
}
.marca-image 
{
    width: 250px;
    height: auto;
}
.marca-image:nth-of-type(8), .marca-image:nth-of-type(10), .marca-image:nth-of-type(15) 
{
    width: 150px;
}


/* ajustes de contacto */
.contacto
{
    display:block;
    height: auto;
    padding: 0 2.5rem;
    margin: 5rem 0;
}
.contacto h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.5rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.contacto hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 1rem;
}
.contacto-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.phone-container
{
    width: 50%;
    margin: 2rem 3rem 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    color: #091A2B;
    background: white;
    align-items: center;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    padding: 1.25rem;
}
.telefonos-container
{
    grid-row: 1 / span 2 ;
    grid-column: 1 / span 1 ;
}
.phone-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.phone-image
{
    margin-bottom: 0.625rem;
    display: flex;
    align-items: center;
}
.phone-image:nth-of-type(1)
{
    margin-top: 0.625rem;
}
.phone-image figure img
{
    width: max-content;
}
.phone-number
{
    margin-left: 0.375rem;
    color: #091A2B;
    cursor: pointer;
    text-decoration: none;
}
.phone-number:hover
{
    color: #006AFF;
}
.phone-number span
{
    font-family: 'IBM Plex Sans';
    font-size: 1.125rem;
    font-weight: 500;
}
.correo-container
{
    grid-row: 1 / span 1 ;
    grid-column: 2 / span 1 ;
    margin-top: 1.25rem;
}
.mail-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.mail-image
{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
}
.mail-image figure img
{
    width: max-content;
}
.mail-direction
{
    margin-left: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
    color: #091A2B;
}
.mail-direction:hover
{
    color: #006AFF;
}
.mail-direction span
{
    font-family: 'IBM Plex Sans';
    font-size: 1.125rem;
    font-weight: 500;
}
.social-container
{
    grid-row: 2 /span 1 ;
    grid-column: 2 / span 1 ;
}
.social-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.social-image
{
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    display: flex;
    align-items: center;    
}
.social-image figure img
{
    width: max-content;
}
.social-address
{
    text-decoration: none;
    color: #091A2B;
    margin-left: 0.3125rem;
    font-family: 'IBM Plex Sans';
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.social-address:hover
{
    color: #006AFF;
}
.map-container
{
    display: block;
    border-radius: 0.3125rem;
    box-shadow: 0 0.375rem 0.5rem rgba(9, 26, 43, .47);
    background: white;
}
.map-container iframe
{
    width: 100%;
    height: 400px;
}
.address-container
{
    display: flex;
    justify-content: center;
    margin: 1rem 0.5rem;
}
.address-container a
{
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: #29598A;
}
.address-container a:hover
{
    color: #006AFF;
}
.address-container span
{
    font-family: 'Noto Sans SC';
    font-size: 1.333rem;
    font-weight: 500;
    text-align: left;
    align-self: center;
    width: 100%;
    margin-left: 1rem;
}
.address-container figure
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*seccion del footer */
footer
{
    display: grid;
    grid-template-columns: 2fr 17.5rem 1fr 12.5rem 1fr 7.8125rem 1fr 10.9375rem 2fr;
    grid-template-rows: 7.1875rem 3.75rem 7.5rem 2.5rem;
    grid-template-areas: ". logo . productos . contacto . nosotros ."
                         ". direccion . productos . contacto . . ."
                         ". telefono . productos . descargables . social ."
                         ". correo . . . . . diseño diseño";
    color: white;
    background: #091A2B;
    box-shadow: 0 -0.125px 0.5rem rgba(9, 26, 43, .47);
}
.logo-footer 
{
    grid-area: logo;
}
.logo-footer a figure
{
    margin: 0;
    max-width: 15.625rem;
    height: auto;
    align-self: center;
}
.logo-footer a figure img
{
    width: 100%;
}
.logo-footer a 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: center;
}
.logo-footer a span
{
    line-height: 1.375rem;
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2px;
}
.logo-footer hr
{
    width: 100%;
    border-radius: 2px;
    border: 2px solid  #29598A;
}
.address-footer
{
    grid-area: direccion;
    display: flex;
    align-items: center;
}
.address-footer figure
{
    margin-right: 0.625rem;
    height: auto;
}
.address-footer figure img
{
    width: 100%;
}
.address-footer a
{
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: left;
}
.address-footer a:hover
{
    color: #006AFF;
}
.address-footer a span
{
    line-height: 1.125rem;
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 0.6875rem;
}
.phone-footer
{
    grid-area: telefono;
    display: flex;
}
.phone-footer-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone-footer-container span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
.phone-footer-image
{
    align-items: center;
    justify-content: center;
    display: flex;
}
.phone-footer figure
{
    margin-right: 0.625rem;
}
.mail-footer
{
    grid-area: correo;
    display: flex;
    align-items: center;
    margin-top: 0.3125rem;
    margin-bottom: 0.625rem;
}
.mail-footer figure
{
    margin-right: 0.625rem;
    height: auto;
}
.mail-footer figure img
{
    width: 100%;
}
.mail-footer a
{
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: left;
}
.mail-footer a:hover
{
    color:#006AFF;
}

.mail-footer a span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 0.75rem;
}
.productos-footer
{
    grid-area: productos;
    display: flex;
    flex-direction: column;
}
.productos-title
{
    margin-top: 1rem;
}
.productos-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.productos-title hr
{
    width: 60%;
    border-radius: 2px;
    border: 2px solid  #29598A;
    margin-top: 0.3125rem;
    margin-bottom: 1rem;
}
.productos-categorias
{
    display: flex;
    flex-direction: column;
}
.productos-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.productos-categorias a:hover
{
    color:#006AFF;
}
.productos-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}

.productos-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}
.contacto-footer
{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
}
.contacto-title
{
    margin-top: 1rem;
}
.contacto-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.contacto-title hr
{
    width: 98%;
    border-radius: 2px;
    border: 2px solid  #29598A;
    margin-top: 0.3125rem;
    margin-bottom: 1rem;
}
.contacto-categorias
{
    display: flex;
    flex-direction: column;
}
.contacto-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.contacto-categorias a:hover
{
    color:#006AFF;
}
.contacto-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}
.contacto-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}
.descargables-footer
{
    grid-area: descargables;
    display: flex;
    flex-direction: column;
}
.descargables-title
{
    margin-top: 0;
}
.descargables-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.descargables-title hr
{
    width: 98%;
    border-radius: 2px;
    border: 2px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 1rem;
}
.descargables-categorias
{
    display: flex;
    flex-direction: column;
}
.descargables-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.descargables-categorias a:hover
{
    color: #006AFF;
}
.descargables-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}
.descargables-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}
.about-footer
{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
}
.about-title
{
    margin-top: 1rem;
}
.about-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.about-title hr
{
    width: 70%;
    border-radius: 2px;
    border: 2px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 1rem;
}
.about-categorias
{
    display: flex;
    flex-direction: column;
}
.about-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.about-categorias a:hover
{
    color: #006AFF;
}
.about-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}
.about-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}
.social-footer
{
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-footer figure
{
    width: 3.125rem;
    height: auto;
}
.social-footer figure img
{
    width: 100%;
}
.designby-footer
{
    grid-area: diseño;
    display: flex;
    align-items: center;
}
.designby-footer span
{
    font-family: 'Noto Sans SC';
    font-weight: 400;
    font-size: 0.625rem;
    margin-right: 0.3125rem;
}




/* media queries: 1439px, 1280px, 1023px, 768px, 767px, 424px,  360px  */

/* PANTALLA GRANDE */
@media screen and (max-width:1439px)
{
    *
    {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .float
    {
        bottom: -8rem;
        display: grid;
        grid-template-columns: repeat(3,minmax(150px,1fr));
        grid-template-rows: 35px 210px 35px;
        grid-template-areas: "float1 . float3"
                             "float1 float2 float3"
                             ". float2 ." ;
        height: auto;
    }
    .productos
    {
        padding: 0 2.5rem;
        margin-top: 13rem;
    }
    .company-image
    {
        object-fit: cover;
        margin: 2rem;
    }
    .phone-container
    {
        width: 40%;
    }
    .map-container iframe
    {
        width:  100%;
        height: 300px;
    }
}
/* PANTALLA MEDIANA */
@media screen and (max-width:1280px)
{
    *
    {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .float
    {
        bottom: -9rem;
    }
    .marcas-container 
    {
        display: grid;
        grid-template-rows: repeat(5,minmax(150px,1fr));
        grid-template-columns: repeat(3,minmax(200px,1fr));
    }
}
/* PANTALLA PEQUEÑA */
@media screen and (max-width:1023px)
{
    *
    {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .header-superior
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        position: relative;
        padding: 0.5rem 0;
    }
    .social-media-header
    {
        position: absolute;
        bottom: -4rem;
        right: 1rem;
        padding: 0.5rem 0;
    }
    .header-principal
    {
        display: block;
        height: auto;
        text-align: center;
        padding: 0 0.625rem 0.625rem 0.625rem;
        border: 1px solid transparent;
      /*   background-image:url('https://i.postimg.cc/Jz2vGz7b/fondo-header.png');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat; */
        background: transparent;
        box-shadow: 0 0 0.18rem 0 rgba(9,26,43, 0.47);
        position: relative;
    }
    .logo-principal
    {
        width: 20rem;
        height: inherit;
    }
    .search-container
    {
        position: absolute;
        z-index: 1;
        width: 22.5rem;
        bottom: -3rem;
        right: 0.5rem;
    }
    .search-container form
    {
        height: 2.5rem;
    }
    .sections-nav
    {
        display: flex;
        height: inherit;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .ref-hero-overlay
    {
        position: absolute;
        left: 3rem;
        top: 3rem;
    }
    .ref-hero-overlay p:nth-of-type(1)
    {
        font-size: 2rem;
    }
    .ref-hero-overlay p strong
    {
        font-size: 5rem;
    }
    .ref-hero-overlay p:nth-of-type(2)
    {
        font-size: 1.2rem;
    }
    .emphasis-hero
    {
        font-size: 1rem;
    }
    .ref-hero-overlay p:nth-of-type(3)
    {
        font-size: 1rem;
    }
    .float
    {
        bottom: -4rem;
    }
    .float1-container h1
    {
        font-size: 1.5rem;
    }
    .float2-container h1
    {
        font-size: 1.5rem;
    }
    .float3-container h1
    {
        font-size: 1.5rem;
    }
    .ref-promo-overlay p:nth-of-type(1)
    {
        font-size: 2rem;
        padding: 3rem 2rem 1.25rem 2rem;
    }
    .ref-promo-overlay p strong
    {
        font-size: 6rem;
    }
    .ref-promo-overlay p:nth-of-type(2)
    {
        display: block;
        font-weight: 800;
        color: white;
        text-align: left;
        font-size: 1.5rem;
        padding: 0 2.5rem 1.25rem 2rem;
    }
    .emphasis-promo
    {
        font-size: 1rem;
    }
    .company h1
    {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .phone-container
    {
        width: 75%;
        margin: 0 0 2rem 0;
    }
    .map-container
    {
        display: block;
        width: 100%;
    }
    .map-container iframe
    {
        width:  inherit;
        height: 400px;
    }

    .float-contact {
    
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 1;
    }
    .float-contact-wp
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #25D366;
        border-radius: 0.3125rem 0.3125rem 0 0;
        text-decoration: none;
    }
    .float-contact-wp:hover
    {
        background: rgba(13,170,72, 1);
        cursor: pointer;
    }
    .float-info
    {
        color: white;
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 1.33rem;
        margin-right: 0.8125rem;
    }
    .float-icon-wp
    {
        margin: 0.5rem 0.8125rem;
    }
    .float-contact-msn
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0078FF;
        border-radius: 0 0 0.3125rem 0.3125rem;
        text-decoration: none;
    }
    .float-contact-msn:hover
    {
        background: rgba(6,90,184, 1);
        cursor: pointer;
    }
    .float-icon-msn
    {
        margin: 0.5rem 0.8125rem;
    }
    .company-des-container span
    {
        max-width: 100%;
    }
    .marcas-container 
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    
    .marca-image
    {
        width: 250px;
        height: auto;
        padding: 2rem 1rem;
        margin: 0 1rem;
    }
    
}
/* TABLET */
@media screen and (max-width:768px)
{
    *
    {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .float-info
    {
      display: none;
    }
    .company-des-container span
    {
        max-width: 100%;
    }
}
/* TABLET PEQUEÑA */
@media screen and (max-width:767px)
{
    .header-superior {
        display: block;
        text-align: right;
    }
    .burger-button {
        display: block;
    }
    .burger-button:hover    
    {
        background: #29598A;
        cursor:pointer;
    }
    .burger-button.is-active
    {
        background: #006AFF;
    }
    .logo-head-container-sup {
        display: block;
        height: auto;
    }
    .logo-principal-sup {
        width: auto;
        height: 6rem;
    }
    /* desplegable del burguer button */
    .logo-head-container,.nav-item hr, .header-exchange, .header-email, .header-phone,  .social-media-header, .search-container {
        display:none;
    }
    .header-principal
    {
        display: block;
        background: rgba(9,26,43, .8);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 75vw;
        transition: .3s;
    }
    .header-principal.is-active 
    {
      left: 0;
    }
    .social-des, .tc-des
    {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem 0 2rem 0;
    }
    .social-icon-des
    {
        width:50px;
        margin-left: 1.2rem;
    }
    .tc-icon-des
    {
        width:25px;
        margin-right:5px;
    }
    .tc-des p span:nth-of-type(1)
    {
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .tc-des p span:nth-of-type(2)
    {
        color: white;
        font-size: 2.3rem;
        font-weight: 700;
        background: #006AFF;
        border-radius: 2px;
        border: 1px solid transparent;
        padding: 0.125rem 0.3125rem;
    }
    .sections-nav
    {
        display:block;
        margin: 0 2rem;
    }
    .sections-nav ol
    {
        display: block;
        height: inherit;
        width: inherit;
    }
    .sections-nav ol li
    {
        display:flex;
        align-items: center;
        justify-content: center;
        background: #29598A;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(204, 223, 251, 0.47);
    }
    .nav-item
    {
        color: white;
        font-size: 2.2rem;
        font-weight: 700;
    }
    .sections-nav a
    {
        width:100%;
        text-align:left;
    }
    .sections-nav a:hover
    {
        color: white;
    }
    .sections-nav ol li:hover
    {
        background: #006AFF;
        cursor: pointer;
    }
    .hero {
        display: block;
        max-width: 100vw;
        margin: 0;
        height: 580px;
        position: relative;
        background-image: url('https://i.postimg.cc/fLHwRBC9/hero-v3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom;
        background-position-x: 100%;
    }
    .ref-hero-overlay
    {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .ref-hero-overlay p:nth-of-type(1)
    {
        padding-top: 2rem;
        font-size: 2.16rem;
    }
    .ref-hero-overlay p strong
    {
        color:#006AFF;  
        font-size: 7rem;
    }
    .ref-hero-overlay p:nth-of-type(2)
    {
        display: block;
        color: white;
        font-size: 2rem;
        padding: 0.5rem 2rem;
    }
    .emphasis-hero
    {
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
        font-style: italic;
    }
    .ref-hero-overlay p:nth-of-type(3)
    {
        font-size: 1.5rem;
    }
    .float 
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 29.5rem;
        left: 0;
        right: 0;
        padding: 0 4rem;
    }
    .float1-container 
    {
        height: 200px;
    }
    .float1-container h1
    {
        font-size: 2rem;
    }
    .float1-container p
    {
        font-size: 1.2rem;
    }
    .float2-container 
    {
        margin-top: 2.1875rem;
        height: 200px;
    }
    .float2-container h1
    {
        font-size: 2rem;
    }
    .float2-container p
    {
        font-size: 1.2rem;
    }
    .float3-container 
    {
        margin-top: 2.1875rem;
        height: 200px;
    }
    .float3-container h1
    {
        font-size: 2rem;
    }
    .float3-container p
    {
        font-size: 1.2rem;
    }
    .float2-container img
    {
        height: 60px;
    }
    .button-float
    {
        width:8rem;
        height:2.5rem;
        font-size: 1.25rem;
    }
    .productos
    {
        display:block;
        height: auto;
        padding: 0 2.5rem;
        margin-top: 40rem;
    }
    .productos h1 
    {
        font-size: 1.8rem;
    }   
    .promo-container
    {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
        background-image: url('https://i.postimg.cc/fLWzs6cs/hero-v1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-position-y: bottom;
        background-position-x: left;
        width: 100%;
        height: 300px;
    }
    .promo h1
    {
        font-size: 2rem;
    }
    .ref-promo-overlay p:nth-of-type(1)
    {
        font-size: 1.5rem;
        padding: 5rem 2.5rem 1rem 1rem;
    }
    .ref-promo-overlay p strong
    {
        font-size: 4rem;
    }
    .ref-promo-overlay p:nth-of-type(2)
    {
        font-size: 1.5rem;
        padding: 0 2.5rem 1rem 1rem;
    }
    .emphasis-promo
    {
      
        font-size: 1rem;
    }
      
    .company-des-container span
    {
        max-width: 100%;
    }
    .marcas h1 
    {
        font-size: 1.5rem;
    }
 
    .phone-container
    {
        width: 100%;
    }

    
    footer
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    .logo-footer 
    {
        width: 250px;
        height: auto;
        margin-bottom: 1.5rem;
    }
    .logo-footer a figure
    {
        margin: 0;
        max-width: 300px;
        height: auto;
        align-self: center;
    }
    
    .logo-footer a span
    {
        margin-bottom: 5px;
    }
    .address-footer 
    {
        margin-bottom: 1.5rem;
    }
    
    .address-footer a span
    {
        line-height: 1.5rem;
        font-size: 1rem;
    }
    
    
    .phone-footer
    {
        margin-bottom: 1.5rem;
    }
    .phone-footer-container span
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    
    .mail-footer
    {
        grid-area: correo;
        display: flex;
        align-items: center;
        margin-top: 0.3125rem;
        margin-bottom: 0.625rem;
    }
    .mail-footer figure
    {
        margin-right: 0.625rem;
        height: auto;
    }
    .mail-footer figure img
    {
        width: 100%;
    }
    .mail-footer a
    {
        text-decoration: none;
        cursor:pointer;
        color: white;
        text-align: left;
    }
    .mail-footer a:hover
    {
        color:#006AFF;
    }
    
    .mail-footer a span
    {
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 0.75rem;
    }
    
    
    .productos-footer
    {
        grid-area: productos;
        display: flex;
        flex-direction: column;
    }
    .productos-title
    {
        margin-top: 1rem;
    }
    .productos-title span
    {
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 1.2rem;
    }
    .productos-title hr
    {
        width: 60%;
        border-radius: 2px;
        border: 2px solid  #29598A;
        margin-top: 0.3125rem;
        margin-bottom: 1rem;
    }
    .productos-categorias
    {
        display: flex;
        flex-direction: column;
    }
    .productos-categorias a 
    {
        text-decoration: none;
        cursor: pointer;
        color: white;
        margin-bottom: 0.625rem;
    }
    .productos-categorias a:hover
    {
        color:#006AFF;
    }
    .productos-categorias a:nth-of-type(8)
    {
        margin-bottom: 0;
    }
    
    .productos-categorias a span
    {
        font-family: 'IBM Plex Sans';
        font-weight: 500;
        font-size: 1rem;
    }
    
    
    .contacto-footer
    {
        grid-area: contacto;
        display: flex;
        flex-direction: column;
    }
    .contacto-title
    {
        margin-top: 1rem;
    }
    .contacto-title span
    {
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 1.2rem;
    }
    .contacto-title hr
    {
        width: 98%;
        border-radius: 2px;
        border: 2px solid  #29598A;
        margin-top: 0.3125rem;
        margin-bottom: 1rem;
    }
    .contacto-categorias
    {
        display: flex;
        flex-direction: column;
    }
    .contacto-categorias a 
    {
        text-decoration: none;
        cursor: pointer;
        color: white;
        margin-bottom: 0.625rem;
    }
    .contacto-categorias a:hover
    {
        color:#006AFF;
    }
    .contacto-categorias a:nth-of-type(8)
    {
        margin-bottom: 0;
    }
    .contacto-categorias a span
    {
        font-family: 'IBM Plex Sans';
        font-weight: 500;
        font-size: 1rem;
    }
    
    .descargables-footer
    {
        grid-area: descargables;
        display: flex;
        flex-direction: column;
    }
    .descargables-title
    {
        margin-top: 0;
    }
    .descargables-title span
    {
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 1.2rem;
    }
    .descargables-title hr
    {
        width: 98%;
        border-radius: 2px;
        border: 2px solid  #29598A;
        margin-top: 5px;
        margin-bottom: 1rem;
    }
    .descargables-categorias
    {
        display: flex;
        flex-direction: column;
    }
    .descargables-categorias a 
    {
        text-decoration: none;
        cursor: pointer;
        color: white;
        margin-bottom: 0.625rem;
    }
    .descargables-categorias a:hover
    {
        color: #006AFF;
    }
    .descargables-categorias a:nth-of-type(8)
    {
        margin-bottom: 0;
    }
    
    .descargables-categorias a span
    {
        font-family: 'IBM Plex Sans';
        font-weight: 500;
        font-size: 1rem;
    }
    
    .about-footer
    {
        grid-area: nosotros;
        display: flex;
        flex-direction: column;
    }
    
    .about-title
    {
        margin-top: 1rem;
    }
    .about-title span
    {
        font-family: 'Noto Sans SC';
        font-weight: 600;
        font-size: 1.2rem;
    }
    .about-title hr
    {
        width: 70%;
        border-radius: 2px;
        border: 2px solid  #29598A;
        margin-top: 5px;
        margin-bottom: 1rem;
    }
    
    .about-categorias
    {
        display: flex;
        flex-direction: column;
    }
    .about-categorias a 
    {
        text-decoration: none;
        cursor: pointer;
        color: white;
        margin-bottom: 0.625rem;
    }
    .about-categorias a:hover
    {
        color: #006AFF;
    }
    .about-categorias a:nth-of-type(8)
    {
        margin-bottom: 0;
    }
    .about-categorias a span
    {
        font-family: 'IBM Plex Sans';
        font-weight: 500;
        font-size: 1rem;
    }
    
    .social-footer
    {
        grid-area: social;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .social-footer figure
    {
        width: 3.125rem;
        height: auto;
    }
    .social-footer figure img
    {
        width: 100%;
    }
    .designby-footer
    {
        grid-area: diseño;
        display: flex;
        align-items: center;
    }
    .designby-footer span
    {
        font-family: 'Noto Sans SC';
        font-weight: 400;
        font-size: 0.625rem;
        margin-right: 0.3125rem;
    }
        

    
}
/* MOVIL GRANDE */
@media screen and (max-width:424px)
{
    *
    {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .float-info
    {
      display: none;
    }
}
/* MOVIL PEQUEÑO */
@media screen and (max-width:360px)
{

}