/* sets de html y grid principal del body */
*
{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body
{
    margin: 0;
    background-image:url('../fondos/fondo_landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   
/* ajustes seccion principal */

.container
{
    max-width: 100vw;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit; 
}

/* propiedades de todo el header */
header
{
    display: block;
    max-width: 100vw;
    margin: 0;
    height: auto;
    position: relative;
    justify-content: space-evenly;
}

/* primera barra del header */
.header-superior
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding: 5px 0;
    background: rgba(9,26,43,1);
    background: -moz-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9,26,43,1)), color-stop(100%, rgba(41,89,138,1)));
    background: -webkit-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -o-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: -ms-linear-gradient(left, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    background: linear-gradient(to right, rgba(9,26,43,1) 0%, rgba(41,89,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091a2b', endColorstr='#29598a', GradientType=1 );
    font-family: 'IBM Plex Sans',sans-serif;
}

.header-icon
{
    width: 25px;
    margin: 0 10px;
    vertical-align: top;
}

.header-exchange
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-exchange p span
{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}
.header-exchange p span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 700;
    background: #29598A;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 2px 5px;
}

.header-phone
{
    display: flex;
    align-items: center;
    justify-items: center;
}
.header-phone a
{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.header-phone a:hover
{
    cursor: pointer;
    color: #006AFF;
}


.header-email
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-email a
{
    cursor: pointer;
    text-decoration: none;
}
.header-email a span
{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}
.header-email a span:hover
{
    cursor: pointer;
    color: #006AFF;
}
.social-media-header
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-icon
{
    margin: 0 0.625rem;
}  


/* barra principal del header */
.header-principal
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    padding: 10px;
    background-image:url('https://i.postimg.cc/Jz2vGz7b/fondo-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 3px 0px rgba(9,26,43, 0.47);
}

.logo-principal
{
    width: 250px;
    height: inherit;
}
/* Secciones del menu */
.sections-nav
{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.sections-nav ol
{
    display: flex;
    height: inherit;
}
.sections-nav ol li
{
    height: inherit;
}
.sections-nav a
{
    text-decoration: none;
    display: block;
    height: inherit;
    align-items: center;
    padding: 0 10px;
    font-family: 'Noto Sans SC';
    font-size: 1.333rem;
    font-weight: 500;
    color: #091A2B;
}

.sections-nav a:hover
{
    color: #006AFF;
}

.sections-nav hr
{
    width: 100%;
    border-radius: 2px;
    border: 2px solid  #29598A;  
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* barra de busqueda */
.search-container 
{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container form
{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "search button";
    width: 100%;
    height: 35px;
}
.search-container input
{
    grid-area: search;
    width:100%;
    margin: 0;
    padding-left: 7px;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-size: 12px;
    border-left: 1.5px solid #091A2B;
    border-top: 1.5px solid #091A2B;
    border-bottom: 1.5px solid #091A2B;
    border-radius: 5px 0px 0px 5px;
}
.search-container button
{
    grid-area: button;
    display: flex;
    align-content: center;
    justify-content: center;
    width:auto;
    background: #29598A;
    cursor: pointer;
    border: none;
    border:1.5px solid #091A2B;
    border-radius: 0px 5px 5px 0px;
}

.search-container button:hover
{
    background:#006AFF;
}
.search-container button img
{
    align-self: center;
}




/* hero */
.hero
{
    display: block;
    max-width: 100vw;
    margin: 0;
    height: auto;
    position: relative;
}

.hero-image
{
    width: 100%;
    height: inherit;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}

.ref-hero-overlay
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3rem;
    top: 3rem;
    text-align: center;
    max-width: 100%;
    /* background: rgba(9,26,43,0.8); */
    border-radius: 5px;
}

.ref-hero-overlay p:nth-of-type(1)
{

    color: white;
    font-family: 'Noto Sans SC';
    font-size: 3rem;
    font-weight: 500;
}

.ref-hero-overlay p strong
{
    color:#008abd;  
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.ref-hero-overlay p:nth-of-type(2)
{
    display: block;
    color: #006AFF;
    padding-top: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}
.emphasis-hero
{
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;

}

.ref-hero-overlay p:nth-of-type(3)
{
    color: white;
    padding-top: 1rem;
    font-family: inherit;
    text-align: center;
    font-size: 1rem;
}




.float
{
    position: absolute;
    bottom: -5rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: 34px 190px 34px;
    grid-template-areas: "float1 . float3"
                         "float1 float2 float3"
                         ". float2 ." ;
    height: auto;
    padding: 0 40px;
    column-gap: 2rem;
}


.float1-container
{
    grid-area: float1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #091A2B;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    height: inherit;
}
.float1-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 1.33rem;
    font-weight: 700;
}
.float1-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}
.float-container img
{
    width: 100%;
}
.button-float
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width:108px;
    height:30px;
    color: white;
    background: #29598A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0 5px;
}

.button-float:hover
{
    background: #006AFF;
}


.button-float span
{
    font-weight: 600;
}

.float2-container
{
    grid-area: float2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #091A2B;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.float2-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 1.33rem;
    font-weight: 700;
}
.float2-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}
.float2-container img
{
    width: 100%;
}

.float3-container
{
    grid-area: float3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #091A2B;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.float3-container h1
{
    font-family: 'Noto Sans SC';
    font-size: 1.33rem;
    font-weight: 700;
}
.float3-container p
{
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}
.float3-container figure
{
    width: 60px;
}
.float3-container img
{
    width: 100%;
}


/* productos */
.productos
{
    display:block;
    height: auto;
    padding: 0 40px;
    margin-top: 130px;
}

.productos h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.369rem;
    font-weight: 700;
    width: 100%;
    color: #006AFF;
    text-align: center;
}
.productos hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 16px;
}



.productos-container
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.float-bombeo
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/Bvv8htm5/bombeo.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}

.bombeo-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bombeo-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/mkdggcf1/bombeo-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}

.bombeo-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.bombeo-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.bombeo-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.bombeo-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.bombeo-overlay a p strong
{
    font-style: italic;
}


.float-bombeo:hover .bombeo-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.float-motores
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/ZnNvrgV1/motores-reductores.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.motores-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motores-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/vZCDn61W/motores-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.motores-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.motores-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.motores-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.motores-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.motores-overlay a p strong
{
    font-style: italic;
}


.float-motores:hover .motores-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.float-presion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/sgsGhTSN/presion-constante.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.presion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/QNStbz9N/presion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.presion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.presion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.presion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.presion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1rem;
}
.presion-overlay a p strong
{
    font-style: italic;
}


.float-presion:hover .presion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-electricidad
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/t4kZtFNC/electricidad.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.electricidad-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.electricidad-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/KYLjDvLC/electricidad-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.electricidad-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.electricidad-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.electricidad-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.electricidad-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.electricidad-overlay a p strong
{
    font-style: italic;
}

.float-electricidad:hover .electricidad-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.float-control
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/pXNF2Wdx/control.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.control-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/50StD7s3/control-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.control-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.control-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.control-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}
.control-overlay a p
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
    font-style: italic;
}
.control-overlay a p strong
{
  
    font-size: 1rem;
}

.float-control:hover .control-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-medicion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/t4kZtFNC/electricidad.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.medicion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medicion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/KYLjDvLC/electricidad-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.medicion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.medicion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.medicion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.medicion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.medicion-overlay a p strong
{
    font-style: italic;
}

.float-medicion:hover .medicion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.float-proteccion
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/65dGqk7Z/proteccion.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.proteccion-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proteccion-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/JnLn6V50/proteccion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.proteccion-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.proteccion-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.proteccion-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.proteccion-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.proteccion-overlay a p strong
{
    font-style: italic;
}

.float-proteccion:hover .proteccion-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.float-refac
{
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 352px;
    height: 231px;
    background-image:url('https://i.postimg.cc/65dGqk7Z/proteccion.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}
.refac-normal
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refac-overlay
{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('https://i.postimg.cc/JnLn6V50/proteccion-over.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    border-radius: 5px;
}
.refac-overlay a
{
    text-decoration: none;
    color: white;
    background: rgba(9,26,43, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.refac-overlay a span:nth-of-type(1)
{
    font-family: 'Noto Sans JP' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.refac-overlay a span:nth-of-type(2)
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}
.refac-overlay a p
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}
.refac-overlay a p strong
{
    font-style: italic;
}

.float-refac:hover .refac-overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image
{
    margin: 0;
    max-width: 352px;
    height: auto;
}
.product-image img
{
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}

.overlay
{
    display: flex;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}
.overlay p
{
    text-align: center;
}

.categorias-name
{
    font-family: 'Noto Sans JP';
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
    text-align: center;
}



/*promociones */
.promo
{
    display:block;
    height: auto;
    padding: 0 40px;
    margin-top: 80px;
}

.promo h1
{
    font-family: 'Noto Sans JP';
    font-size: 2.369rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.promo hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 16px;
}

.promo-container
{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
}
.promo-ref
{
    cursor: pointer;
}
.promo-image
{
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}

.ref-promo-overlay
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    max-width: 100%;
    border-radius: 5px;
}

.ref-promo-overlay p:nth-of-type(1)
{

    color: white;
    font-family: 'Noto Sans SC';
    font-size: 2.5rem;
    font-weight: 500;
    padding: 5rem 2.5rem 1.25rem 2rem;
}

.ref-promo-overlay p strong
{
    color:#006AFF;
    font-size: 8rem;
    font-weight: 500;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.ref-promo-overlay p:nth-of-type(2)
{
    display: block;
    font-weight: 800;
    color: white;
    text-align: left;
    font-size: 2rem;
    padding: 1rem 2.5rem 1.25rem 2rem;
}
.emphasis-promo
{
    color:white;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.ref-promo-overlay p:nth-of-type(3)
{
    text-align: right;
    font-size: 1rem;
    padding: 0 2.5rem 1rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* seccion de la compañia */
.company
{
    display:block;
    height: auto;
    padding: 0 40px;
    margin-top: 80px;
}

.company h1
{
    font-family: 'Noto Sans JP';
    font-weight: 600;
    font-size: 3rem;
    color: #091A2B;
    text-align: center;
}

.company-des-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.company-image
{
    object-fit: cover;
    margin: 0 2rem 2rem 2rem;
}

.company-des-container span
{
    max-width: 50%;
    padding: 40px 20px;
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 1.33rem;
    line-height: 3rem;
    color: white;
    background-color: #29598A;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
}



.description-container
{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.description-container p
{
    margin: 20px;
    text-align: center;
}
.description-container span
{
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 1.33rem;
    color: white;
}


/*marcas */
.marcas
{
    display:block;
    height: auto;
    padding: 0 40px;
    margin-top: 80px;
}
.marcas h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.369rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.marcas hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 16px;
}
.marcas-container 
{
    grid-area: marcas;
    display: grid;
    grid-template-rows: repeat(4,minmax(200px,1fr));
    grid-template-columns: repeat(4,minmax(200px,1fr));
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    justify-content: center;
    align-items: center;
}

.marcas-container figure
{
    text-align: center;
}

.marca-image 
{
    width: 75%;
    height: auto;
}

.marcas-container figure:nth-of-type(8) img
{
    width: 50%;
}


.marcas-container figure:nth-of-type(10) img
{
    width: 50%;
}

.marcas-container figure:nth-of-type(15) img
{
    width: 50%;
}




/* ajustes de contacto */
.contacto
{
    display:block;
    height: auto;
    padding: 0 40px;
    margin: 80px 0;
}

.contacto h1 
{
    font-family: 'Noto Sans JP';
    font-size: 2.369rem;
    font-weight: 700;
    color: #006AFF;
    text-align: center;
    width: 100%;
}
.contacto hr
{
    width: 100%;
    border: 4px solid  #29598A; 
    border-radius: 2px;
    margin-bottom: 16px;
}

.contacto-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.phone-container
{
    width: 50%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    color: #091A2B;
    background: white;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    padding: 1.25rem;
}
.telefonos-container
{
    grid-row: 1 / span 2 ;
    grid-column: 1 / span 1 ;
}
.phone-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.phone-image
{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.phone-image:nth-of-type(1)
{
    margin-top: 10px;
}
.phone-image figure img
{
    width: max-content;
}
.phone-number
{
    margin-left: 5px;
    color: #091A2B;
    cursor: pointer;
    text-decoration: none;
}
.phone-number:hover
{
    color: #006AFF;
}
.phone-number span
{
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: 500;
}

.correo-container
{
    grid-row: 1 / span 1 ;
    grid-column: 2 / span 1 ;
    margin-top: 20px;
}
.mail-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.mail-image
{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.mail-image figure img
{
    width: max-content;
}
.mail-direction
{
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #091A2B;
}
.mail-direction:hover
{
    color: #006AFF;
}
.mail-direction span
{
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: 500;
}


.social-container
{
    grid-row: 2 /span 1 ;
    grid-column: 2 / span 1 ;
}
.social-title
{
    font-family: 'Noto Sans JP';
    font-size: 1.777rem;
    font-weight: 700;
}
.social-image
{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;    
}
.social-image figure img
{
    width: max-content;
}
.social-address
{
    text-decoration: none;
    color: #091A2B;
    margin-left: 5px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.social-address:hover
{
    color: #006AFF;
}


.map-container
{
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(9, 26, 43, .47);
    background: white;
}

.address-container
{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.address-container a
{
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: #29598A;
}
.address-container a:hover
{
    color: #006AFF;
}
.address-container span
{
    font-family: 'Noto Sans SC';
    font-size: 1.333rem;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin-left: 15px;
}
.address-container figure
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer */
footer
{
    display: grid;
    grid-template-columns: 2fr 280px 1fr 200px 1fr 125px 1fr 175px 2fr;
    grid-template-rows: 115px 60px 120px 40px;
    grid-template-areas: ". logo . productos . contacto . nosotros ."
                         ". direccion . productos . contacto . . ."
                         ". telefono . productos . descargables . social ."
                         ". correo . . . . . diseño diseño";
    color: white;
    background: #091A2B;
    box-shadow: 0px -2px 8px rgba(9, 26, 43, .47);
}

.logo-footer 
{
    grid-area: logo;
}
.logo-footer a figure
{
    margin: 0;
    max-width: 250px;
    height: auto;
    align-self: center;
}
.logo-footer a figure img
{
    width: 100%;
}

.logo-footer a 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: center;
}
.logo-footer a span
{
    line-height: 22px;
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2px;
}
.logo-footer hr
{
    width: 100%;
    border-radius: 1.5px;
    border: 1.5px solid  #29598A;
}

.address-footer
{
    grid-area: direccion;
    display: flex;
    align-items: center;
}
.address-footer figure
{
    margin-right: 0.625rem;
    height: auto;
}
.address-footer figure img
{
    width: 100%;
}
.address-footer a
{
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: left;
}
.address-footer a:hover
{
    color: #006AFF;
}

.address-footer a span
{
    line-height: 18px;
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 11px;
}


.phone-footer
{
    grid-area: telefono;
    display: flex;
}
.phone-footer-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone-footer-container span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
}
.phone-footer-image
{
    align-items: center;
    justify-content: center;
    display: flex;
}
.phone-footer figure
{
    margin-right: 10px;
}

.mail-footer
{
    grid-area: correo;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.mail-footer figure
{
    margin-right: 0.625rem;
    height: auto;
}
.mail-footer figure img
{
    width: 100%;
}
.mail-footer a
{
    text-decoration: none;
    cursor:pointer;
    color: white;
    text-align: left;
}
.mail-footer a:hover
{
    color:#006AFF;
}

.mail-footer a span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 12px;
}


.productos-footer
{
    grid-area: productos;
    display: flex;
    flex-direction: column;
}
.productos-title
{
    margin-top: 1rem;
}
.productos-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.productos-title hr
{
    width: 60%;
    border-radius: 1.5px;
    border: 1.5px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 15px;
}
.productos-categorias
{
    display: flex;
    flex-direction: column;
}
.productos-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
}
.productos-categorias a:hover
{
    color:#006AFF;
}
.productos-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}

.productos-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}


.contacto-footer
{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
}
.contacto-title
{
    margin-top: 1rem;
}
.contacto-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.contacto-title hr
{
    width: 98%;
    border-radius: 1.5px;
    border: 1.5px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 1rem;
}
.contacto-categorias
{
    display: flex;
    flex-direction: column;
}
.contacto-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.contacto-categorias a:hover
{
    color:#006AFF;
}
.contacto-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}
.contacto-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}

.descargables-footer
{
    grid-area: descargables;
    display: flex;
    flex-direction: column;
}
.descargables-title
{
    margin-top: 0;
}
.descargables-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.descargables-title hr
{
    width: 98%;
    border-radius: 1.5px;
    border: 1.5px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 1rem;
}
.descargables-categorias
{
    display: flex;
    flex-direction: column;
}
.descargables-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.625rem;
}
.descargables-categorias a:hover
{
    color: #006AFF;
}
.descargables-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}

.descargables-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 15px;
}

.about-footer
{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
}

.about-title
{
    margin-top: 1rem;
}
.about-title span
{
    font-family: 'Noto Sans SC';
    font-weight: 600;
    font-size: 1.2rem;
}
.about-title hr
{
    width: 70%;
    border-radius: 1.5px;
    border: 1.5px solid  #29598A;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.about-categorias
{
    display: flex;
    flex-direction: column;
}
.about-categorias a 
{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
}
.about-categorias a:hover
{
    color: #006AFF;
}
.about-categorias a:nth-of-type(8)
{
    margin-bottom: 0;
}
.about-categorias a span
{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 1rem;
}

.social-footer
{
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-footer figure
{
    width: 50px;
    height: auto;
}
.social-footer figure img
{
    width: 100%;
}
.designby-footer
{
    grid-area: diseño;
    display: flex;
    align-items: center;
}
.designby-footer span
{
    font-family: 'Noto Sans SC';
    font-weight: 400;
    font-size: 0.625rem;
    margin-right: 5px;
}